body {
    background-color: #c9c0c0;
    font-weight: bold;
}

button , input {
    border: 6px solid #000;
    border-radius: 15px;
    color: #302c2c;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    outline: none;
}

button {
    background-color: aqua;
    cursor: pointer;
    transition: 0.1s ease-in;
}
button:hover {
    background-color: #2bc5c5;
    color: #fff;
}

input {
    background-color: #fff;
    min-width: 270px;
}

