body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.div {
    width: 100px;
    height: 200px;
    background-color: cadetblue;
    border-radius: 10px;
    border: 2px solid #000;
}

.row {
    position: absolute;
    bottom: 20%;
    left: 30%;
    display: flex;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid #000;
    margin-right: 20px;
    border-radius: 10px;
    min-height: 250px;
    padding: 5px;
}
.plus {
    transition: 0.2s all;
    cursor: pointer;
    margin-right: 30px;
    padding: 10px 15px;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.minus {
    transition: 0.2s all;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    border: 2px solid #000;
    padding: 10px 15px;
}
.minus:hover, .plus:hover {
    transform: scale(1.1);
    background-color: aliceblue;
}