body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.div {
    width: 100px;
    height: 200px;
    background-color: cadetblue;
    border-radius: 10px;
    border: 2px solid #000;
}